extends layouts/home-layout.pug

block content
    .resultsContainer

block headerButton
    a(href="/messages/new")
        i.fa-solid.fa-circle-plus

block scripts 
    script(src="/js/inboxPage.js") 