extends layouts/home-layout.pug

block content
    .resultsContainer

block headerButton
    button#markNotificationsAsRead(title="Mark all as read")
        i.fa-solid.fa-check-double

block scripts 
    script(src="/js/notificationsPage.js")