extends layouts/home-layout.pug

block content
    .homePageLoading 
        img(src="/images/loading_spinner.gif", alt="Loading Spinner")

    .resultsContainer(style="visibility: hidden")

block headerButton
    button#markNotificationsAsRead(title="Mark all as read")
        i.fa-solid.fa-check-double

block scripts 
    script(src="/js/notificationsPage.js")