extends layouts/home-layout.pug

block content
    script.
        const postId = '!{postId}'
    .postsContainer

    +createPostModals(userLoggedIn)

block scripts 
    script(src="/js/postPage.js") 