extends layouts/home-layout.pug

block content
    script.
        const postId = '!{postId}'

    .homePageLoading 
        img(src="/images/loading_spinner.gif", alt="Loading Spinner")

    .postsContainer(style="visibility: hidden")
        
    +createPostModals(userLoggedIn)

block scripts 
    script(src="/js/postPage.js") 