:root {
    --hoverbg: #d4edff;
    --blue: #1FA2F1;
    --bluebg: rgba(212, 237, 255, 0.6);
    --lightgray: rgb(230, 236, 240);
    --spacing: 15px;
    --bluelight: #9bd1f9;
    --graytext: rgb(101, 119, 134);
    --graybuttontext: rgba(0, 0, 0, 0.34);
    --redcolor: rgb(226, 34, 94);
    --redbg: rgba(226, 34, 94, 0.1);
    --greencolor: rgb(23, 191, 99);
    --greenbg: rgba(23, 191, 99, 0.1)
}

html,
body {
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
    font-weight: 300;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 19px;
    font-weight: 700;
    margin: 0;
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:first-of-type {
    color: var(--blue);
}

nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 0.25rem;
    font-size: 30px;
    width: 55px;
    color: #212529;
    position: relative;
}

nav a:hover {
    color: var(--blue);
    background-color: var(--hoverbg);
    border-radius: 50%;
}

.wrapper {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper>.row {
    margin: 0;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    color: var(--graybuttontext);
}

button i,
button span {
    pointer-events: none;
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--lightgray);
    border-right: 1px solid var(--lightgray);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--lightgray);
    flex-shrink: 0;
}

.titleContainer a {
    font-size: 25px;
}

.postFormContainer {
    display: flex;
    padding: var(--spacing);
    border-bottom: 10px solid rgb(230, 236, 240);
    flex-shrink: 0;
}

.modal .postFormContainer {
    border: none;
    padding: 0;
    padding-top: var(--spacing);
}

.modal .post {
    padding: 0 0 var(--spacing) 0;
}

.modal .close {
    font-size: 1rem;
}

.modal-header .close {
    cursor: pointer;
}

.modal-header .close i {
    font-size: 20px;
    color: black;
}

.userImageContainer {
    width: 50px;
    height: 50px;
}

.userImageContainer img {
    width: 100%;
    border-radius: 50%;
    background-color: #fff;
}

.textAreaContainer {
    flex: 1;
    padding-left: var(--spacing);
}

.textAreaContainer textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 19px;
    color: black;
}

#submitPostButton {
    background-color: var(--blue);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 7px var(--spacing);
}

#submitPostButton:disabled {
    background-color: var(--bluelight);
}

.bg {
    background-color: var(--blue);
}


/* -------------------- Post Styles -------------------- */
.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightgray);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display: flex;
    overflow-y: hidden;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.postHeader a:hover {
    text-decoration: underline;
}

.postHeader a,
.postHeader span {
    padding-right: 5px;
}

.postHeader .buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.displayname {
    font-weight: bold;
}

.username,
.date {
    color: var(--graytext);
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    flex: 1;
    display: flex;
    padding-top: 1rem;
}

.postButtonContainer button {
    padding: 2px 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border-radius: 50%;
}

.postButtonContainer button:hover {
    background-color: #d4edff;
    color: var(--blue);
}

.postButtonContainer.red button.active {
    color: var(--redcolor);
}

.postButtonContainer.red button:hover {
    color: var(--redcolor);
    background-color: var(--redbg);
}

.postButtonContainer.green button.active {
    color: var(--greencolor);
}

.postButtonContainer.green button:hover {
    color: var(--greencolor);
    background-color: var(--greenbg);
}

.postActionContainer {
    padding-left: 65px;
    padding-bottom: 4px;
    font-size: 12px;
    color: var(--graytext);
}

.replyFlag {
    font-size: 14px;
    padding-bottom: 6px;
}

.post.largefont .postBody,
.post.largefont .postFooter {
    font-size: 23px;
}

.postContentContainer .postHeader {
    display: flex;
}

.postContentContainer .postHeader .date {
    flex: 1;
}


------------------------ Profile Page ----------------------- .errorMessage {
    padding: var(--spacing);
}

.coverPhotoSection {
    height: 180px;
    background-color: var(--blue);
    position: relative;
}

.profileHeaderContainer .userImageContainer {
    height: 132px;
    width: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profileHeaderContainer .userImageContainer img {
    border: 4px solid #fff;
}

.profileHeaderContainer .profileButtonContainer {
    text-align: right;
    padding: var(--spacing);
    min-height: 66px;
}


.profileButton,
.followButton {
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    padding: 5px var(--spacing);
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover {
    background-color: var(--bluebg);
}

.followButton.following {
    background-color: var(--blue);
    color: #fff;
}


.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}

.followersContainer .value {
    font-weight: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value) {
    color: var(--greyText);
}

.followersContainer a {
    margin-right: 15px;
}

.followersContainer a:hover {
    border-bottom: 1px solid #000;
}


.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--lightgray);
    flex-shrink: 0;
}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--graytext);
    font-weight: bold;
}

.tab.active {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.tab:hover {
    color: var(--blue);
    background-color: var(--bluebg);
}


.noResult {
    padding: var(--spacing);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightgray);
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing);
}

.profilePictureButton,
.coverPhotoButton {
    position: absolute;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.6);
    display: none;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton {
    display: block;
    transition: all 0.3s ease;
}

.coverPhotoContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverPhotoContainer img {
    height: 100%;
    flex: 1;
    object-fit: cover;
}

#imagePreview,
#coverPreview {
    width: 100%;
    display: block;
    max-width: 100%;
}

.pin.active {
    color: var(--blue);
}

.pinnedPostText {
    font-size: 12px;
    color: var(--graytext);
}

.pinnedPostContainer {
    border-bottom: 10px solid rgb(230, 236, 240);
}


/* ---------------- Search Page ----------------- */
.searchBarContainer {
    position: relative;
    color: var(--graytext);
    padding: 10px var(--spacing);
}

.searchBarContainer i {
    position: absolute;
    top: 23px;
    left: 20px;
    padding: 0 10px;
}

.searchBarContainer #searchBox {
    height: 36px;
    width: 100%;
    padding: 8px var(--spacing) 8px 40px;
    border-radius: 50px;
    background-color: var(--lightgray);
    border: none;
    color: var(--graytext);
}


/* ----------------------- Chat Page ------------------------- */
.chatPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    flex-basis: 0;
}

.chatTilteBar {
    border-bottom: 1px solid var(--lightgray);
    display: flex;
    align-items: center;
    min-height: 64px;
    padding: 10px;
}

.chatTilteBar label {
    margin: 0 10px 0 0;
}

#userSearchTextBox {
    border: none;
    flex: 1;
    font-weight: 200;
    min-width: 350px;
}

#createChatButton {
    border: none;
    border-radius: 40px;
    background-color: var(--blue);
    color: white;
    padding: 7px 20px;
    margin: 10px auto;
}

#createChatButton:disabled {
    background-color: var(--lightgray);
    color: var(--graytext);
}

#selectedUsers {
    font-weight: 300;
    background-color: #CBE5FE;
    color: #0084ff;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}


/* ------------------ Group Chat ------------------- */
.resultListItems {
    padding: 7px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--lightgray);
}

.resultListItems:hover {
    background-color: #F2F2F2;
}

.resultDetailContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.resultDetailContainer .heading {
    font-weight: 500;
}

.resultDetailContainer .subText {
    font-size: 14px;
    color: var(--graytext);
}

.resultsImageContainer {
    height: 40px;
    width: 40px;
    position: relative;
}

.resultListItems img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.groupChatImage img {
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 2px solid #fff;
}

.groupChatImage img:first-of-type {
    top: 0;
    right: 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* --------------- Chatting ---------------- */
.chatTitleBarContainer {
    border-bottom: 1px solid var(--lightgray);
    display: flex;
    align-items: center;
    padding: var(--spacing);
}

#chatName {
    width: 100%;
    border: 1px solid transparent;
    padding: 0 5px;
}

#chatName:hover {
    border: 1px solid var(--lightgray);
    cursor: text;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chatMessages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--spacing);
}

.chatContainer .footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: var(--spacing);
    flex-shrink: 0px;
}

.chatContainer .footer textarea {
    flex: 1;
    resize: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    border: none;
    padding: 8px var(--spacing);
}

.chatContainer .footer button {
    background-color: transparent;
    color: var(--blue);
    font-size: 24px;
}

.chatImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 10px;
}

.chatImagesContainer img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.chatImagesContainer img:not(:last-child) {
    margin-left: -10px;
}

.chatImagesContainer .userCount {
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #fff;
    margin-left: -10px;
}

#chatNameTextbox {
    width: 100%;
}


/* ------------------ Chatting Styles ---------------- */
.chatMessages .message {
    padding-bottom: 2px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.chatMessages .message .messageContainer {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.chatMessages .message.mine .messageContainer {
    align-items: flex-end;
}

.chatMessages .message.theirs .messageContainer {
    align-items: flex-start;
}

.chatMessages .message .messageBody {
    background-color: #f1f0f0;
    padding: 6px 12px;
    border-radius: 18px;
    font-size: 14px;
}

.chatMessages .message.mine {
    flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
    background-color: var(--blue);
    color: #fff;
}

/* -------- My Messages --------- */
.chatMessages .message.mine.first .messageBody {
    border-bottom-right-radius: 2px;
}

.chatMessages .message.mine.last .messageBody {
    border-bottom-right-radius: 18px;
}

.chatMessages .message.mine:not(.first):not(.last) .messageBody {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.chatMessages .message.mine.last:not(.first) .messageBody {
    border-top-right-radius: 2px;
}

/* -------- Their Messages --------- */
.chatMessages .message.theirs.first .messageBody {
    border-bottom-left-radius: 2px;
}

.chatMessages .message.theirs.last .messageBody {
    border-bottom-left-radius: 18px;
}

.chatMessages .message.theirs:not(.first):not(.last) .messageBody {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.chatMessages .message.theirs.last:not(.first) .messageBody {
    border-top-left-radius: 2px;
}

.senderName {
    color: rgba(0, 0, 0, 0.4);
}

.chatMessages .imageContainer {
    height: 24px;
    width: 24px;
    margin-right: 7px
}

.chatMessages .imageContainer img {
    height: 100%;
    border-radius: 50%;
    vertical-align: bottom;
}

.chatMessages .message.last {
    margin-bottom: 7px;
}

.loadingSpinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loadingSpinnerContainer img {
    width: 50%;
    max-width: 75px;
}

.typingDots {
    padding: var(--spacing);
    padding-bottom: 0;
    display: none;
}

.typingDots img {
    height: 35px;
    border-radius: 19px;
}


/* ------------------- Notification Page ---------------- */
.resultListItems.notification * {
    pointer-events: none;
}

.resultListItems.active {
    background-color: var(--bluebg);
}

#notificationBadge,
#messagesBadge {
    background-color: var(--redcolor);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-content: center;
    justify-content: center;
    visibility: hidden;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 30px;
}

#notificationBadge.active,
#messagesBadge.active {
    visibility: visible;
}

#notificationList {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 350px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34)
}

#notificationList .active {
    background-color: white;
}



